@import "../../styles/colors.scss";
@import "../../styles/mixins";
@import "../../styles/const-width";


.input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  &--error .input__text {
    border-color: $color-error;
  }

  &--error .input__desc {
   color: $color-error;
  }
}

.input__label {
  @include label;
}

.input__desc {
  @include desc;
}

.input__text {
  @include input-field;

}

.correct-text {
  text-align: start;
  @media (max-width: $desktop-width) {
    padding-left: 23px;
  }
}

.input:hover .input__text,
.input:focus .input__text {
  border-color: $color-main;
}
