@import "../../styles/const-width";

.calculator-inputs__price,
.calculator-inputs__range {
  margin-bottom: 9.5px;

@media (min-width: $tablet-width) {
    margin-bottom: 14.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.calculator-inputs{
  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}


.calculator-inputs__parameter {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.calculator-inputs__kasko,
 .calculator-inputs__insurance,
  .calculator-inputs__capital {
    @media (max-width: $mobile-width-only) {
      font-size: 14px;
      width: 290px;
      line-height: 19px;
    }
    @media (min-width: $tablet-width) {
      width: 380px;
    }
    @media (min-width: $desktop-width) {
      width: 420px;
      padding-bottom: 0;
    }
}