@import "../../styles/colors";
@import "../../styles/mixins";

.range {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
}

.range__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: $color-service--lighten;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  margin-top: 13px;

  &:hover {
    opacity: 1;
  }

  &:focus {
    background: $color-red;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color-main;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color-main;
    cursor: pointer;
  }
}

.range__slider::-moz-range-thumb:focus {
  background: $color-red;
}


.range__desc {
  @include desc;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
