@import "../../styles/const-width";

.calculator-options__subtitle {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}
