@import "../../styles/const-width";

.leaflet-container {
    height: 381px;
    width: 100%;
    border: 0;
  
    @media (min-width: $tablet-width) {
      height: 462px;
    }
  
    @media (min-width: $desktop-width) {
      height: 462px;
    }
  }