@import "../../styles/const-width";

.close-button {
  position: absolute;
  display: block;
  top: 15px;
  right: 20px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  z-index: 80;

  background-color: transparent;
  background-image: url("cross.svg");
  background-repeat: no-repeat;
  background-size: contain;

  content: "";

  @media (min-width: $tablet-width) {
    top: 20px;
    right: 20px;
  }
  @media (min-width: $desktop-width) {
    top: 14px;
    right: 12px;
  }
}