.close-button {
  position: absolute;
  display: block;
  top: 14px;
  right: 12px;
  width: 18px;
  height: 17px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  z-index: 80;

  background-color: transparent;
  background-image: url("cross.svg");
  background-repeat: no-repeat;
  background-size: contain;

  content: "";
}